# nodejs
werewolf/target/
werewolf/webpage/node_modules
werewolf/webpage/dist
werewolf/src/main/resources/static/index.html
werewolf/src/main/resources/static/dist

# .idea
.idea

# eclipse
werewolf/.classpath
.project
.settings/
