.card {
    display: inline-block;
    width: 160px;
    height: 160px;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    border: solid 5px black;
}

.card > div {
    font-size: 40px;
}

.card_selected {
    border: solid 5px gold;
}